@import "variables";

header {
  display: flex;
  justify-content: center;
  margin-left: 219px;
}

nav {
  display: flex;
  justify-self: flex-end;
  flex-direction: row;
  align-items: center;
  margin-top: 43px;

  ul {
    display: table;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    li {
      position: relative;
      display: inline-block;
      font-weight: 500;
      font-style: normal;
      font-size: 16px;
      text-transform: uppercase;
      align-items: center;
      list-style-type: none;
      margin: 0px;

      &:first-child {
        margin-left: 30px;
      }

      &:last-child {
        margin-right: 30px;
      }

      a {
        color: #181818;
        text-decoration: none;
        padding: 10px;

        &:hover {
          color: #484848;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }

  .nav-logo {
    display: flex;
    align-items: center;
  }

  .logo {
    padding-top: 20px;
    padding-right: 7px;
  }

  .logo-label {
    display: table;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-family: "Jockey One";
    font-size: 40px;
    color: #ff3d00;
    cursor: pointer;
  }

  .nav-adress {
    display: flex;
    justify-self: space-between;
    align-items: center;
    width: 749px;
    height: 57px;
    background: #212121;

    hr {
      width: 24px;
      height: 0px;
      left: 1446px;
      top: 60px;

      border: 1px solid #4e4e4e;
      transform: rotate(90deg);
    }

    .mappoint {
      width: 19px;
      padding-left: 28px;
      padding-right: 14px;
    }

    .nav-adress__text {
      color: #fcfcfc;
    }
  }
}
