@import "variables";

header {
  margin: auto;
}

.container {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: 768px) {
    width: 740px;
  }
  @media (min-width: 992px) {
    width: 960px;
  }
  @media (min-width: 1440px) {
    width: 1440px;
  }
}

.scroll-to-top {
  position: fixed;
  left: auto;
  right: 10px;
  width: 50px;
  height: 50px;
  bottom: 12px;
  border-radius: 10px;
  border: none;
  background: #4242426e;
  color: #ffffff;
  z-index: 1000;

  .arrow-up {
    border: solid #ffffff;
    border-width: 0 6px 6px 0;
    border-radius: 4px;
    display: inline-block;
    margin-top: 12px;
    padding: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}

.reg-button {
  width: 279px;
  height: 58px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  background: $btnColor;
  transition: background 0.3s ease-out;

  &:hover {
    background-position: 279px;
  }
}

.logo {
  margin-top: 20px;
  margin-right: 7px;
}

.logo-label {
  white-space: nowrap;
  font-family: "Jockey One";
  font-size: 40px;
  color: #ff3d00;
  cursor: pointer;
}

.nav-section {
  max-width: 1920px;
  margin: auto;
  padding-top: 43px;

  hr {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    .header__links {
      display: flex;

      li {
        list-style-type: none;

        &:first-child {
          margin-left: 30px;
        }

        &:last-child {
          margin-right: 30px;
        }

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          white-space: nowrap;
          font-weight: 500;
          font-style: normal;
          text-transform: uppercase;
          list-style-type: none;

          & {
            position: relative;
            color: #181818;
            text-decoration: none;
            padding: 10px;
            height: 57px;
            transition: all 0.5s;

            &:after {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              width: 0%;
              content: ".";
              color: transparent;
              background: #aaa;
              height: 1px;
            }

            &:hover {
              color: #fff;
              z-index: 1;
            }

            &:hover:after {
              z-index: -10;
              animation: header__links 0.5s forwards;
              -webkit-animation: header__links 0.5s forwards;
              -moz-animation: header__links 0.5s forwards;
              opacity: 1;
            }

            @keyframes header__links {
              0% {
                width: 0%;
                height: 1px;
              }
              50% {
                width: 100%;
                height: 1px;
              }
              100% {
                width: 100%;
                height: 100%;
                background: #212121;
              }
            }
          }
        }
      }
      @media (max-width: 1600px) {
        li {
          &:first-child {
            margin-left: 20px;
          }

          &:last-child {
            margin-right: 20px;
          }

          a {
            color: #ffffff;
            height: 49px;
          }
        }
      }

      @media (max-width: 1140px) {
        li {
          &:first-child {
            margin-left: 10px;
          }

          &:last-child {
            margin-right: 10px;
          }

          a {
            font-size: 11px;
            color: #ffffff;
            height: 49px;

            &:hover:after {
              display: none;
            }
          }
        }
      }
    }
  }

  .nav-logo {
    display: flex;
    align-items: center;
    margin-left: 10.5%;
    text-decoration: none;
  }

  .navbar-info {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 765px;
    height: 57px;
    background: #212121;

    .navbar__info {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      flex-direction: row;
    }

    hr {
      display: block;
      width: 24px;
      left: 1446px;
      top: 60px;
      border: 1px solid #4e4e4e;
      transform: rotate(90deg);
    }

    .mappoint {
      padding: 14px 18px 14px 32px;
    }

    .nav-info__text {
      display: flex;
      align-items: center;
      color: #fcfcfc;
    }
  }

  @media (max-width: 1600px) {
    display: flex;
    justify-content: center;
    padding-top: 0;
    background: #212121;

    hr {
      display: block;
      height: 42px;
      top: 60px;
      border: 1px solid #4e4e4e;
      transform: rotate(0deg);
    }

    .nav-logo {
      margin-left: 5px;
    }

    .navbar-info {
      .navbar__info {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        flex-direction: column;
      }

      hr {
        display: none;
      }

      width: 100%;
      height: 49px;

      .mappoint {
        padding: 14px 14px 14px 14px;
      }

      .nav-info__text {
        padding-right: 5px;
      }
    }
  }
}

.header-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 220px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  div {
    width: 660px;

    h1 {
      margin-top: 46px;
      width: 630px;
      height: 48px;
      font-size: 40px;
      line-height: 48px;
    }

    h3 {
      margin-top: 68px;
      font-weight: 200;
      font-size: 20.5px;
      line-height: 29px;
    }

    .requisites {
      font-weight: 300;
      font-size: 20.5px;
      line-height: 29px;
      margin-bottom: 15px;

      span {
        font-weight: 400;
      }

      td:nth-child(2) {
        padding-left: 10px;
      }
    }
  }

  @media (max-width: 1600px) {
    padding-bottom: 55px;
  }
}

.required-documents {
  padding-bottom: 90px;

  h1 {
    display: flex;
    justify-content: center;
    padding-top: 52px;
    padding-bottom: 21px;
    font-size: 25px;
    line-height: 36px;
    font-weight: 600;
  }

  hr {
    margin: auto;
    margin-bottom: 25px;
    width: 75%;
    border: 1px solid #e6e6e6;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0px;
      text-align: center;

      p {
        font-size: 19px;
      }
    }

    .passport {
      padding-bottom: 10px;
      width: 168px;
      transition: 1s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .cert {
      padding-bottom: 10px;
      width: 312px;
      transition: 1s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.vehicle-categories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
  text-align: center;
  color: #f1f1f1;

  h1 {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    li {
      width: 446px;
      height: 314px;
      margin-top: 28px;
      margin-bottom: 65px;
      padding: 10px;
      padding-top: 38px;
      border: 1px solid #545454;
      box-sizing: border-box;
      border-radius: 25px;
      transition: 1s;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &:hover {
        border: 1px solid #ffffff;

        img {
          transform: scale(1.1);
        }
      }
    }

    .category-icon {
      width: 90px;
      height: 90px;
      background: #f5f5f5;
      border-radius: 21px;
      padding: 15px;
      transition: 1s;
    }

    h1 {
      font-weight: bold;
      font-size: 35px;
      line-height: 42px;
      text-align: center;
      color: #f1f1f1;
    }

    hr {
      margin: auto;
      width: 32px;
      height: 4px;
      border: 0;
      background: #ffa800;
    }

    h3 {
      margin-top: 11px;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.features-list {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 105px 0px 105px 0px;
    list-style-type: none;

    li {
      width: 560px;
      height: 241px;
      padding: 25px 50px 25px 50px;
      background: #ffffff;
      border: 1px solid #ededed;
      box-sizing: border-box;
      border-radius: 16px;

      &:not(:nth-child(even)) {
        margin-right: 40px;
      }

      &:not(:nth-child(3)):not(:last-child) {
        margin-bottom: 32px;
      }

      h1 {
        padding: 10px 0px 10px 0px;
        font-weight: 500;
        font-size: 23px;
        line-height: 28px;
        color: #000000;
      }

      p {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #717171;

        a {
          color: #717171;
        }
      }
    }
  }
}

.map-yandex {
  width: 100%;
  height: 825px;
}

.contacts-block {
  position: relative;
  top: 228px;
  width: 401px;
  height: 397px;
  padding-top: 25px;
  padding-left: 41px;
  padding-right: 35px;

  background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  z-index: 10;

  .map-icon {
    position: relative;
    width: 77px;
    height: 77px;
    left: 286px;
    top: 2px;
  }

  .contacts-info {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -65px;
    width: 270px;

    h1 {
      padding-bottom: 20px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;

      color: #000000;
    }

    hr {
      width: 308px;
      height: 0px;
      border: 1px solid #ebebeb;
    }

    a {
      text-decoration: none;
      color: #000000;

      &:not(:last-child) {
        margin-top: 22px;
      }

      &:nth-child(6) {
        margin-bottom: 16px;
      }
    }

    span:nth-child(7) {
      margin-bottom: 33px;
    }
  }
}

.doc-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 45px;
  text-align: center;
  color: #313131;

  ul {
    display: flex;
    margin-top: 30px;
    margin-bottom: 140px;

    li {
      flex: 0 0 25%;
      list-style-type: none;
    }
  }

  h1 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
  }

  hr {
    margin: auto;
    margin-bottom: 25px;
    width: 75%;
    border: 1px solid #e6e6e6;
  }

  img {
    height: 380px;
    box-shadow: 5px 5px 10px 1px #00000073;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  font-size: 18px;

  li:first-child {
    list-style-type: none;
  }

  li {
    list-style-position: inside;
    padding-left: 16px;

    a {
      color: $fontColorWhite;
      text-decoration: none;
    }
  }

  ::marker {
    color: #e14132;
    font-size: 16px;
  }
}

.footer__info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $fontColorWhite;
  padding-bottom: 20px;

  span:first-child {
    font-size: 14px;
  }

  span:last-child {
    font-size: 18px;
  }

  hr {
    margin-left: 5px;
    margin-right: 5px;
    width: 24px;
    border: 1px solid #4e4e4e;
    transform: rotate(90deg);
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: $fontSize12;
  color: $fontColorWhite;
  line-height: 20px;
  padding-bottom: 20px;
}

.modal-image {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 90%;
  transform: translateY(-150%);
  animation: modal-image 0.5s forwards;

  img {
    height: 100%;
  }

  img:not(:last-child) {
    width: 100%;
    box-shadow: 10px 5px 15px 1px rgba(0, 0, 0, 0.5);
  }

  #modal__close-btn {
    position: absolute;
    right: 0;
    height: 4%;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    z-index: 25;
  }

  @keyframes modal-image {
    0% {
      transform: translateY(-150%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

#overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 3s;
}

#top {
  background: #c4c4c4 url(../images/bg-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  @media (max-width: 1600px) {
    background-blend-mode: multiply;
  }
}

#documents {
  background-image: url(../images/bg-reqdoc.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#categories {
  background: #222222 url(../images/bg-categories.png);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

#features {
  background: #c5c5c5 url(../images/bg-features.png);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}

#accreditations {
  background: linear-gradient(
    89.06deg,
    #ffffff 0.77%,
    rgba(255, 255, 255, 0.46875) 52.38%,
    rgba(196, 196, 196, 0) 97.91%
  );
}

#footer {
  background: #212121;
}
