@import "variables";

@media (max-width: 1600px) {
  header {
    display: flex;
    justify-content: center;
    padding-top: 0;
    background: #212121;

    hr {
      display: block;
      height: 42px;
      top: 60px;
      border: 1px solid #4e4e4e;
      transform: rotate(0deg);
    }

    .navbar {
      &__logo {
        margin-left: 5px;
      }

      &__links {
        li {
          &:first-child {
            margin-left: 20px;
          }

          &:last-child {
            margin-right: 20px;
          }

          a {
            color: #ffffff;
            height: 49px;

            &:after {
              background: $btnColor;
            }

            @keyframes li {
              0% {
                width: 0;
                height: 1px;
              }
              100% {
                width: 100%;
                height: 2px;
                background: $btnColor;
              }
            }
          }
        }
      }

      &__info {
        width: 100%;
        height: 50px;

        hr {
          display: none;
        }
      }

      &__contacts {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
    }
  }

  .header__info {
    padding-bottom: 55px;
  }

  .features-list {
    ul {
      li {
        &:not(:nth-child(even)) {
          margin-right: 20px;
        }

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  #top {
    background-blend-mode: multiply;
  }
}

@media (max-width: 1300px) {
  .features-list {
    ul {
      li {
        &:not(:nth-child(even)) {
          margin-right: 0;
        }

        &:not(:last-child) {
          margin-bottom: 32px;
        }
      }
    }
  }

  #top {
    background-blend-mode: multiply;
  }
}

@media (max-width: 1140px) {
  .logo-label {
    font-size: 25px;
  }

  .navbar {
    &__links {
      li {
        &:first-child {
          margin-left: 10px;
        }

        &:last-child {
          margin-right: 10px;
        }

        a {
          font-size: 11px;
          color: #ffffff;
          height: 49px;
        }
      }
    }

    &__info {
      span {
        &:first-child {
          font-size: 12px;
        }
      }
    }
  }

  .vehicle-categories {
    ul {
      h3 {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  .features-list {
    ul {
      li {
        &:not(:nth-child(even)) {
          margin-right: 0;
        }

        &:not(:last-child) {
          margin-bottom: 32px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .logo {
    margin-top: 8px;
    margin-right: 6px;
    width: 25px;
  }

  .logo-label {
    font-size: 25px;
  }

  header {
    height: 50px;

    hr {
      display: block;
      margin-right: 20px;
      margin-left: 20px;
      height: 24px;
      top: 60px;
      border: 1px solid #4e4e4e;
      transform: rotate(0deg);
    }

    hr:last-child {
      position: absolute;
      display: inline;
      top: 50px;
      height: 1px;
      width: 100%;
      margin: auto;
      border: 1px solid #373737;
      z-index: 2;
    }

    .burger-menu {
      display: block;
      width: 32px;
      height: 32px;
      border: 1px solid #363636;
      border-radius: 50%;
      margin-top: 10px;
      margin-left: 10px;
      z-index: 10;

      img {
        display: block;
        margin: auto;
        padding-top: 25%;
      }
    }

    .navbar {
      &__links {
        display: none;
      }

      &__info {
        width: 100%;
        height: 0;

        span {
          &:first-child {
            font-size: 8px;
          }

          &:last-child {
            font-size: 13px;
          }
        }

        hr {
          display: none;
        }
      }

      &__contacts {
        align-items: flex-end;
      }

      .mappoint {
        position: absolute;
        top: 10px;
        height: 11px;
        padding: 0;
      }
    }
  }

  .header-info {

    &__requisites {
      line-height: 10px;

      span:nth-child(2) {
        padding-left: 16px;
      }
    }

    h1 {
      margin-bottom: 10px;
      font-size: 25px;
      line-height: 25px;
    }

    h3 {
      font-size: 12px;
      line-height: 25px;
    }


    span {
      font-size: 12px;
    }
  }

  .vehicle-categories {
    ul {
      h3 {
        font-size: 8px;
        line-height: 10px;
      }
    }
  }

  .map-yandex {
    height: 274px;
    margin-bottom: 350px;

    &__map-icon {
      position: absolute;
      display: block;
      top: -40px;
      right: 8px;
    }

  }

  .contacts {
    top: 275px;
    width: 330px;
    padding-left: 15px;
    background: none;
    box-shadow: none;
    border-radius: 0;

    &__map-icon {
      display: none;
    }

    &__info {
      width: 100%;
      font-size: 12px;

      h1 {
        font-size: $h1SizeMobile;
        text-transform: none;
      }
    }
  }

  .certificate {
    img {
      height: 230px;
    }
  }

  .send-form {
    width: 300px;
    height: 900px;

    input {
      overflow: visible;
    }

    hr {
      display: none;
    }

    &__title {
      position: absolute;

      h1 {
        font-size: 13px;
      }
    }

    &__error {
      position: relative;
      margin-left: 10%;
    }

    &__field-name {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      font-size: 11px;
      line-height: 12px;

      p {
        display: none;
      }
    }

    &__checkbox:last-child {
      color: darkblue;
    }
  }

  .modal-content {
    #modal__close-btn {
      top: 60px;
      right: 10px;
      height: 32px;
    }
  }

  #burger-content {
    display: block;
    position: absolute;
    padding: 5% 0 0 10%;
    width: 100%;
    height: 590px;
    left: 0;
    top: 50px;
    background: #212121;
    transform: translateY(-150%);
    animation: all 0.8s forwards;

    li {
      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 70px;
      list-style-position: inside;
      padding-left: 16px;

      a {
        color: #e3e3e3;
        text-decoration: none;
      }
    }

    ::marker {
      color: #e3e3e3;
      font-size: 17px;
    }

    @keyframes all {
      0% {
        transform: translateX(-150%);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}

@media (max-width: 475px) {
  .header-info {
    display: flex;
    align-items: center;
    width: 100%;
    color: #141414;
    text-shadow: none;
    padding-bottom: 25px;

    h1 {
      margin-top: 170px;
      margin-bottom: 8px;
      width: 281px;
      font-size: $h1SizeMobile;
      text-align: center;
      line-height: 22px;
      white-space: nowrap;
    }

    h3 {
      margin-bottom: 8px;
      width: 60%;
      font-size: 12px;
      text-align: center;
      line-height: 15px;
    }

    &__requisites {
      line-height: 15px;

      span {
        &:nth-child(2) {
          padding-left: 15.7px;
        }
      }
    }
  }

  .reg-button {
    width: 179px;
    height: 37px;
    font-size: 13px;
  }

  .documents {
    padding-bottom: 25px;

    hr {
      display: none;
    }

    h1 {
      padding-top: 25px;
      font-size: $h1SizeMobile;
      line-height: 15px;
    }

    ul {
      li {
        p {
          font-size: 12px;
        }
      }
    }

    &__passport {
      padding-bottom: 10px;
      width: 89px;
    }

    &__cert {
      padding-bottom: 10px;
      width: 106px;
    }
  }

  .vehicle-categories {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: left;
    color: #363636;

    h1 {
      padding-left: 15px;
      font-size: $h1SizeMobile;
      line-height: 18px;
    }

    h3 {
      padding-left: 15px;
      font-size: 10px;
      line-height: 8px;
      color: #939393;
    }

    ul {
      flex-direction: column;
      justify-content: space-between;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 52px;
        border: none;

        &:not(:last-child) {
          margin-right: 0;
        }

        h1 {
          color: #363636;
          font-size: $h1SizeMobile;
          padding: 10px;
        }

        h3 {
          color: #363636;
          margin-top: 0;
          font-size: 10px;
        }

        hr {
          display: none;
        }

        &:hover {
          border: none;

          img {
            transform: none;
          }
        }
      }
    }
  }

  .features-list {
    ul {
      margin: 25px 0 25px 0;

      li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 147px;
        height: 152px;
        padding: 25px 10px 25px 10px;

        &:not(:nth-child(even)) {
          margin-right: 10px;
        }

        &:not(:nth-child(3)):not(:last-child) {
          margin-bottom: 15px;
        }

        h1 {
          font-size: 10px;
          line-height: 12px;
        }

        p {
          font-size: 8px;
          line-height: 10px;
        }

        img {
          height: 36px;
        }
      }
    }
  }

  .contacts {
    .reg-button {
      margin-top: 6px;
      margin-left: 25%;
      width: 192px;
      height: 40px;
    }
  }

  .certificate {
    text-align: left;

    hr {
      display: none;
    }

    h1 {
      padding-left: 15px;
      font-size: $h1SizeMobile;
      margin-bottom: 0;
    }
  }

  .footer {
    &__phone {
      display: block;
      position: absolute;
      left: 0;
      bottom: 162px;

      a {
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #212121;
        text-decoration: none;
      }
    }

    &__car-icon {
      bottom: 130px;
      right: 15px;
      width: 111px;
    }

    &__logo {
      margin-top: 6px;

      .logo {
        margin-top: 10px;
        width: 25px;
      }

      .logo-label {
        font-size: 20px;
      }

    }

    &__links {
      flex-wrap: wrap;
      font-size: 10px;
      line-height: 25px;
      width: 320px;

      li {
        padding-left: 8px;

        &:nth-child(3) {
          list-style-type: none;
        }
      }

      ::marker {
        font-size: 8px;
      }
    }

    &__info {
      display: none;
    }

    &__copyright {
      font-size: 8px;
      line-height: 10px;
      padding-bottom: 15px;
    }
  }

  .modal-image {
    height: 70%;
    width: 80%;

    #modal__close-btn {
      height: 6%;
    }
  }


  #top {
    background: none;
  }

  #mobile-top {
    background: url(../images/bg-header-mobile.png) no-repeat;
    background-size: cover;
    background-clip: border-box;
  }

  #documents {
    margin: 0 18px 22px 18px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 14px;
    background: url(../images/bg-reqdoc.png) no-repeat;
    background-size: cover;
  }

  #categories {
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    background: none;
  }

  #features {
    border-bottom: 1px solid #EDEDED;
    background: none;
  }
}
